<!-- Include Nav Bar -->
<div ng-include="'app/navigation/nav-bar.tmpl.html'"></div>


<!-- Setup grid row in fluid container -->
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-10 col-sm-offset-1 main">

         <!-- START CONTENT AREA =============== -->
         <h3 class="content-header">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
            &nbsp {{ctrl.itemCount}} Memberships

            <!-- Header buttons -->
            <div class="btn-group pull-right">
               <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Bulk Actions
                  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="" ng-click="ctrl.deleteSelection()">Delete Selected</a></li>
               </ul>

            </div>
         </h3>

         <div class="table-responsive">
            <table class="table table-hover table-condensed">
               <thead>
                  <tr>
                     <th>
                        <a role="button" ng-click="ctrl.selectAll(ctrl.nextCheckAll)">
                           <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </a>
                     </th>
                     <th>Account HREF</th>
                     <th>Group HREF</th>
                  </tr>
               </thead>
               <tbody>
                  <!-- ======== ng-repeat LOOP start ========== -->
                  <tr ng-repeat="item in ctrl.items">
                     <td>
                        <input type="checkbox" ng-model="item.selected">
                     </td>
                     <td>
                        <a class="btn btn-sm" ng-href="" role="button">
                           <span id="table-row-icon" class="glyphicon glyphicon-link" aria-hidden="true"></span> {{item.account.href}}
                        </a>
                     </td>
                     <td>
                        <a class="btn btn-sm" ng-href="" role="button">
                           <span id="table-row-icon" class="glyphicon glyphicon-link" aria-hidden="true"></span> {{item.group.href}}
                        </a>
                     </td>

                  </tr>
               </tbody>
            </table>
         </div>

         <!-- END CONTENT AREA ================= -->
      </div>
   </div>
   <!-- END Row -->
</div>
<!-- END container-flud -->
